<%= form_for [refinery, :seminars_admin, @seminar] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @seminar,
              :include_object_name => true %>

  <div class='field'>
    <%= f.label :name -%>
    <%= f.text_field :name, :class => 'larger widest' -%>
  </div>

  <div class='field dates_fields'>
    <%= f.label :dates %>
    <%= f.fields_for :dates do |date_fields| %>
      <div class='date_field' id='<%= dom_id(date_fields.object) %>'>
        <%= date_fields.date_select :date %>
        <%= date_fields.text_field :name, :placeholder => "Enter times and location", :size => 70 %>
        <%= date_fields.check_box :full %>
        <%= date_fields.label :full, :class => 'stripped' %>

        <% if date_fields.object.persisted? -%>
          <% if date_fields.object.signups.count == 0 -%>
            <%= link_to "Remove", refinery.seminars_admin_seminar_date_path(@seminar, date_fields.object),
            {:method => :delete, :class => 'button confirm-delete', :style => "background-color: #ee1100;", :data => {:confirm => "Are you sure you want to remove this date?"}} %>
          <% else -%>
            <%= link_to pluralize(date_fields.object.signups.count, "Sign up"), '#', :class => 'button', :disabled => 'disabled' %>
          <% end -%>
        <% end -%>
      </div>
    <% end %>
  </div>

  <div class='field'>
    <%= render '/refinery/admin/wysiwyg',
                :f => f,
                :fields => [:content],
                :object => "seminars/seminar" -%>
  </div>

  <%= render '/seo_meta/form', :form => f %>

  <div class='field'>
    <span class='label_with_help'>
      <%= f.label :active, "Show / hide seminar" %>
      <%= refinery_help_tag "Allow visitors to view this seminar." %>
    </span>
    <%= f.check_box :active, :checked => @seminar[:active] -%>
    <%= f.label :active, "Active", :class => 'stripped' -%>
  </div>

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.seminars.admin.seminars.seminar'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @seminar.name) -%>
<% end -%>

<% content_for :javascripts do -%>
  <script>
    $(document).ready(function(){
      page_options.init(false, '', '');
    });
  </script>
<% end -%>
