<%= form_for [refinery, :seminars_admin, @seminar] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @seminar,
              :include_object_name => true %>

  <div class='field'>
    <%= f.label :name -%>
    <%= f.text_field :name, :class => 'larger widest' -%>
  </div>

  <div class='field'>
    <%= render '/refinery/admin/wysiwyg',
                :f => f,
                :fields => [:content],
                :object => "seminars/seminar" -%>
  </div>

  <div class='field'>
    <%= f.label :active -%>
    <%= f.check_box :active, :checked => @seminar[:active] -%>
  </div>

  <div class='hemisquare right_side'>
    <%= render '/seo_meta/form', :form => f %>
  </div>

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => true,
             :delete_title => t('delete', :scope => 'refinery.seminars.admin.seminars.seminar'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @seminar.name) -%>
<% end -%>

<% content_for :javascripts do -%>
  <script>
    $(document).ready(function(){
      page_options.init(false, '', '');
    });
  </script>
<% end -%>
