<%= form_for [refinery, :seminars_admin, @date] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @date,
              :include_object_name => true %>

  <div class='field'>
    <%= f.label :name -%>
    <%= f.text_field :name, :class => 'larger widest' -%>
  </div>

  <div class='field'>
    <%= f.label :date -%>
    <%= f.date_select :date -%>
  </div>

  <div class='field'>
    <%= f.check_box :full, :checked => @date[:full] -%>
    <%= f.label :full, :class => 'stripped' -%>
  </div>

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.seminar_dates.admin.seminar_dates.seminar_date'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @seminar_date.name) -%>
<% end -%>
