<ul>
    <li>
      <%= form_tag(refinery.seminars_admin_seminar_signups_path(@seminar), :method => :get, :class => "search_form") do %>
        <%= select_tag "date_id", options_from_collection_for_select(@seminar.dates, :id, :to_label, params[:date_id].to_s), :include_blank => true, :style => "width: 290px;", :onchange => "$(this).closest('form').submit();" %>
        <br/>
        <%= text_field_tag "search", params[:search].to_s, :size => 30, :title => "Put here a string of at least 3 characters containing what you are looking for.", :type => "search" %>
        <%= submit_tag "Search", :class => "button", :style => "position: static;" %>
      <% end %>
    </li>
<% if !searching? && ::Refinery::Seminars::Admin::SignupsController.sortable? && @seminar.signups.many? %>
  <li>
    <%= link_to t('.reorder', :what => "Seminars"),
                 refinery.seminars_admin_seminars_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Seminars"),
                 refinery.seminars_admin_seminars_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>
